
{% extends "guide/base.html" %}
{% load static %}
{% block content %}
<style>
blockquote
{
  font-style: italic;
  font-weight: 900;
  font-size: x-large;
  margin-left:32px;
  font-family:"Segoe Print", "Times New Roman", Verdana;
  padding-left: 48px;
  background:url({% static 'img/blockquote.png' %});
  background-repeat:no-repeat;
  min-height: 30px;  
}

p{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: large;
	font-weight: 100;
}
img{
	width:100%;
	height: 100%;
}
</style>
<div id="post-header" class="page-header">
				<div class="background-img" 
						{% comment %} {% if {{object.name_of_service}} == 'Homestay' %} {% endcomment %}
                         style="background-image: url({% static 'img/homestay.jpg' %})"
						{% comment %} {% elif {{object.name_of_service}} == 'Transportation' %}
							style="background-image: url({% static 'img/transport.jpg' %})"
						{% else %}
							style="background-image: url({% static 'img/travel-agency.jpg' %})" {% endcomment %}
                ></div>
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<div class="post-meta">
								<a class="post-category cat-2" href="#">{{object.type_of_service}}</a>
								<span class="post-date"> </span>
							</div>
							<h1>{{object.name_of_service}}</h1>
						</div>
					</div>
				</div>
			</div>
	

		<!-- section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Post content -->
					<div class="col-md-8">
						<div class="section-row sticky-container">
							<div class="main-post">
								<small>Service Provider: </small>  <a href="#">{{object.user.username}}</a>
								<br>
								<br>
								<blockquote>{{object.short_description}}</blockquote>
							
								<br>
								<p> {{object.details}} </p>
								<figure class="figure-img">
									
                                    {% if object.image %}
                                        <img src="{{ object.image.url }}" alt="">
                                        {% endif %}
									<figcaption></figcaption>
								</figure>

								{% if object.special_features%}
									 <h2>Special Features</h2>
									 <p>{{object.special_features}}</p>

								{%endif%}

		 					</div>
					  	</div>
					</div>
			    </div>
			</div>
		</div>
{% endblock content %}