
{% extends "guide/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>
blockquote
{
  font-style: italic;
  font-weight: 900;
  font-size: x-large;
  margin-left:32px;
  font-family:"Segoe Print", "Times New Roman", Verdana;
  padding-left: 48px;
  background:url({% static 'img/blockquote.png' %});
  background-repeat:no-repeat;
  min-height: 30px;  
}

p{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: large;
	color: black;
	font-weight: 100;
}
img{
	width:100%;
	height: 100%;
}
.revi{
	font-style: italic;
	font-size: medium;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.review{
	max-width: 300px;
	border-radius: 25px;
	padding: 20px;
    top: 400px;
	right: 200px;
	float: right;
	position: absolute;
	background-color: whitesmoke;
}
.book{
	max-width: 300px;
	border-radius: 25px;
	padding: 20px;
    top: -70px;
	right: -310px;
	float: right;
	position: absolute;
	/* background-color: whitesmoke; */
}
/* .rev{
	float: right;
	position: fixed;
	border: 2px solid rgb(1, 5, 7);
	/* padding-left: 10px; */
</style>
<div id="post-header" class="page-header">
				<div class="background-img" 
						{% comment %} {% if {{post.name_of_service}} == 'Homestay' %} {% endcomment %}
                         style="background-image: url({% static 'img/homestay.jpg' %})"
						{% comment %} {% elif {{post.name_of_service}} == 'Transportation' %}
							style="background-image: url({% static 'img/transport.jpg' %})"
						{% else %}
							style="background-image: url({% static 'img/travel-agency.jpg' %})" {% endcomment %}
                ></div>
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<div class="post-meta">
								<a class="post-category cat-1" href="#">{{post.type_of_service}}</a>
								<span class="post-date"> </span>
							</div>
							<h1>{{post.name_of_service}}</h1>
						</div>
					</div>
				</div>
			</div>
		
			<div class='review'>
					<h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"> Reviews: </h4>
						<br>
						<br>
					{% for r in reviews%}
						<small><a class='' href="#">{{r.author}}</a> </small>
						<small>{{r.date}}</small>
						 <p class="revi"> &emsp; {{ r.review }}</p>
						<br>
						<br>
					{% endfor%}
			</div>
		<!-- section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Post content -->
					<div class="col-md-8">
						<div class="section-row sticky-container">
							<div class="main-post">
								<small>Service Provider: </small>  <a href="#">{{post.user.username}}</a>
								<br>
								<br>
								<blockquote>{{post.short_description}}</blockquote>
							
								<br>
								<p> {{post.details}} </p>
								<figure class="figure-img">
									
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}" alt="">
                                        {% endif %}
									<figcaption></figcaption>
								</figure>

								{% if post.special_features%}
									 <h4>Special Features</h4>
									 <br>
									 <p>{{post.special_features}}</p>
									 <br>
									 <br>
									 <div class="book">
											<a href="/posts/{{post.id}}/book" id="b" style="background-color: forestgreen;color: white;border-radius: 10px;" class="btn btn-default btn-lg btn-block btn-huge ">BOOK THIS SERVICE</a>
										</div>
									 <br>


								
								{%endif%}
								

								<!-- <div class="section-row">
										<div class="section-title">
											<h2> Reviews: </h2>
										</div>
										{% for r in reviews%}
										<div class="post-comments">
											<!-- comment -->
											<!-- <div class="media">
												<div class="media-left">
													<img class="media-object" src="#" alt="">
												</div>
												<div class="media-body">
													<div class="media-heading">
														<h4>{{r.author}}</h4>
														<span class="time"></span>
														<!-- <a href="#" class="reply">Reply</a> -->
													<!-- </div>
													<p>{{ r.review }}</p> -->
										<!-- {% endfor%} --> 

								<!-- <div class="col-sm-6">
										<div class="panel-heading"></div>
										<div class="panel-body" style="border-style: rounded;">
									   <form method="POST">
												{% csrf_token %}
												{{ form|crispy }}
												<button type="submit"class="btn btn-primary">Submit</button>
											  </form>
										</div>
									</div> -->

									

									<div class="section-row">
											<div class="section-title">
												<h4>Write a review</h4>
												<br>
												<br>
											</div>
											<form  method="POST">
													{% csrf_token %}
													<div class="col-md-12">
														<div class="form-group">
    															{{ form.review }}
														</div>
														<button class="btn btn-primary">Submit</button>
														<br>
														<br>
														
													</div>
												</div>
											</form>
										</div>
										<!-- /reply -->
									</div>
		 					</div>
					  	</div>
					</div>
			    </div>
			</div>
		</div>
{% endblock content %}